<ion-content overflow-scroll="true">
    <app-header></app-header>
    <ion-button color="secondary ion-margin" (click)="return()">Atrás</ion-button>
    <ion-card *ngIf="movie">
        <ion-card-title class="ion-padding">
            {{movie.title}}
        </ion-card-title>
        <ion-card-content>
            <ion-row>
                <ion-col size="3">
                    <img width="auto" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" />
                </ion-col>
                <ion-col size="9">
                    <strong>Sinopsis</strong>
                    <p>{{movie.overview}}</p>
                    <strong>Género</strong>
                    <p><span *ngFor="let genre of movie.genres">{{genre.name}}  </span></p>
                    <strong>Año</strong>
                    <p>{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
                    <strong>Idioma original</strong>
                    <p>{{movie.original_language}}</p>
                    <strong>Valoración media</strong>
                    <p>{{movie.vote_average}}</p>
                    <strong *ngIf="movie.video">Trailer: </strong>
                    <p *ngIf="movie.video">{{movie.video}}</p>
                </ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>
</ion-content>