@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
ion-header ion-toolbar {
    --background: #2f2fa2;
    height: 6rem;
    padding-top: 1rem;
    ion-title {
        color: white;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
}