<ion-content overflow-scroll="true">
    <app-header></app-header>
    <ion-searchbar (ionClear)="onCancel()" (ionInput)="getmovies($event.target.value)" autocorrect="off"></ion-searchbar>
    <ion-grid overflow-scroll="true">
        <ion-row>
            <ion-col size="2" *ngFor="let movie of movies">
                <ion-card href="/detail/{{movie.id}}">
                    <ion-card-header>
                        <img *ngIf="movie.poster_path" width="auto" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
                        <img *ngIf="!movie.poster_path" width="auto" src="assets/images/error.png" />
                        <h3>{{ movie.title }}</h3>
                    </ion-card-header>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>