<ion-content overflow-scroll="true">
    <app-header></app-header>
    <ion-searchbar (ionClear)="onCancel()" (ionInput)="getmovies($event.target.value)" autocorrect="off"></ion-searchbar>
    <ion-list>
        <ion-list-header *ngIf="movies.length!=0">
            Resultados
        </ion-list-header>
        <div *ngFor="let movie of movies">
            <ion-item href="/detail/{{movie.id}}">
                <ion-avatar slot="start">
                    <img *ngIf="movie.poster_path" width="auto" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
                    <img *ngIf="!movie.poster_path" width="auto" src="assets/images/error.png" />
                </ion-avatar>
                <ion-label>
                    <h2>{{ movie.title }}</h2>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>